@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Mooli&family=Prompt:ital,wght@1,300&display=swap');

#content{
    max-width: 1600px;
        margin: 0 auto; 
    }

header{
display: grid;
grid-template-columns: 100px auto;
background-color: #586674;
background-image: url("/wdd130/final/images/backgroundheader.jpg") ;
align-items: center;

}

footer{
background-color:#212529;
color: #F8F9FA;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    height: 175px;
}

footer a:hover{
    color: #586674;
    text-decoration: underline;
}

#hero{
margin-top: 150px;
    display: grid;
   
}

.heroimage{
    padding: 25px;
    width: 750px;
    background-color: #586674;

}

.herotxt{
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: auto;
}

nav {
    display: flex;
    justify-content: space-around; 
}

nav a{
    text-align:center;
    color: #F8F9FA;
    padding: 40px;
}

body{
    background-color:#F8F9FA;
    font-family: "Mooli",'inclusive Sans' , sans-serif;
    font-size: 25px;
    text-align:center;
}

hr{
    height: 10px;
    background-color: #333;
}

.homemain{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.technicalmain{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}


.logo{
    width: 250px;
    height: 250px;
    
    
}

.middleimage{ 
    grid-column: 2/8;
    grid-row: 3/4;
}

.vpiano{
    width: 750px;
    height: 250px;
}

.bottomimage{
    grid-column: 2/8;
    grid-row: 7/8
}

.pianolayout{
    grid-column: 5/7;
    grid-row: 1/2;  
}

.text1{
    color:black;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    grid-column: 2/8;
    grid-row: 1/2;
}

.text2{
    color:black;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    grid-column: 2/8;
    grid-row: 5/6;

    
}

.text1b{
    color:black;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
}

.text1b:hover, .text2b:hover, .text3b:hover, .text4b :hover{
    background-color: #677a8e;
    transform: scale(1.1);
}

.text2b{
    color:black;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    grid-column: 8/10;
    grid-row: 1/2;

}  

.text3b{
    color:black;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    grid-column: 2/5;
    grid-row: 1/2;
    
}

.text4b{
    color:black;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    grid-column: 7/10;
    grid-row: 1/2;
}


.text1, .text2{
    background-color:#586674;
    line-height: 1.5em;
    padding: 20px;
    box-shadow: 5px 5px 10px #212529;
}

.text1b, .text2b{
    background-color:#586674;
    line-height: 1.5em;
    padding: 40px;
    box-shadow: 5px 5px 10px #212529;
    height: 850px;
    margin-bottom: 100px;
}

.text3b, .text4b{
    background-color:#586674;
    line-height: 1.5em;
    padding: 20px;
    box-shadow: 5px 5px 10px #212529;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 500px;
}

.logo2{
    height: 100px;
    width: 100px;
}


* {box-sizing: border-box}

/* Style the tab */
.tab {
    float: left;
    border: 5px solid #212529;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px; 
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .button1 button:hover{
      background-color: rgb(88, 158, 186);
  }
  
  .button2 button:hover{
      background-color: rgb(88, 186, 97);
  }
  
  .button3 button:hover{
      background-color: rgb(211, 246, 73);
  }
  
  .button4 button:hover{
      background-color: rgb(186, 88, 88);
  }
  
  /* Create an active/current "tab button" class */
  .button1 button.active{
      background-color: rgb(88, 158, 186);
  }
  
  .button2 button.active{
      background-color: rgb(88, 186, 97);
  }
  
  .button3 button.active{
      background-color: rgb(211, 246, 73);
  }
  
  .button4 button.active{
      background-color: rgb(186, 88, 88);
  }
      
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 5px solid #212529;
    width: 70%;
    height: 300px;
    background: white;
    margin-bottom: 100px;
  }
  
  .tabcontent{
      overflow: auto;
      height: 300px;
    }



/* test 
      
      body {
          background: linear-gradient( #fff8f7, #a8a2a4, #89d6d6, #313332);
      }
*/